/* src/ParkSharing.Reservation.Client/src/CustomChat.css */

/* Root Variables */
:root {
  /* Colors */
  --orange: #ff4f40;
  --indigo: #635dff;
  --white: #fff;
  --light-aluminium: #eaecee;
  --aluminium: #bdc4cf;
  --dark-aluminium: #2a2e35;
  --black: #000000;
  --yellow: #ebca40;
  --mandarine: #ff7f38;
  --pink: #ff44dd;
  --blue: #3885ff;
  --aqua: #3ec6eb;
  --emerald: #1bc99f;

  /* Gradients */
  --yellow-mandarine-gradient: linear-gradient(153.07deg, var(--yellow) -2.47%, var(--mandarine) 102.78%);
  --mandarine-orange-gradient: linear-gradient(153.07deg, var(--mandarine) -2.47%, var(--orange) 102.78%);
  --pink-yellow-gradient: linear-gradient(153.07deg, var(--pink) -2.47%, var(--yellow) 102.78%);
  --pink-indigo-gradient: linear-gradient(153.07deg, var(--pink) -2.47%, var(--indigo) 102.78%);
  --indigo-aqua-gradient: linear-gradient(153.07deg, var(--indigo) -2.47%, var(--aqua) 102.78%);
  --blue-aqua-gradient: linear-gradient(153.07deg, var(--blue) -2.47%, var(--aqua) 102.78%);
  --aqua-emerald-gradient: linear-gradient(153.07deg, var(--aqua) -2.47%, var(--emerald) 102.78%);
  --emerald-yellow-gradient: linear-gradient(153.07deg, var(--emerald) -2.47%, var(--yellow) 102.78%);

  /* Fonts */
  --font-primary: "Space Grotesk", sans-serif;
  --font-secondary: "Inter", sans-serif;
  --font-mono: "Fira Code", monospace;

  /* Global Font */
  font-family: var(--font-primary);
}

/* Box Sizing and Global Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
button,
input,
select,
textarea {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: var(--font-primary);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow-y: scroll;
}

html {
  font-size: 19px;
  text-rendering: geometricPrecision;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Custom Chat Container */
.custom-chat-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  z-index: 1000;
}

/* Conversation Container */
.rcw-conversation-container {
  width: 100% !important;
  height: 100% !important;
  max-width: none !important;
  max-height: none !important;
  border-radius: 0 !important;
  overflow: hidden;
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-end !important;
}

/* Header */
.rcw-header {
  width: 100% !important;
  background-color: var(--black) !important;
  padding: 40px !important;
  text-align: center;
  font-size: 19px !important;
}

/* Hide Close Button */
.rcw-close-button,
.rcw-picker-btn,
.rcw-launcher {
  display: none !important;
}

/* Messages and New Message Containers */
.rcw-messages-container,
.rcw-new-message {
  width: 100% !important;
  height: auto !important;
}

.rcw-messages-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: calc(100% - 120px) !important;
  background: var(--pink-yellow-gradient);
  overflow-y: auto !important;

  /* Hide Scrollbar */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
}

.rcw-messages-container::-webkit-scrollbar {
  width: 0px; /* Chrome, Safari, Opera */
  background: transparent; /* Optional: Make scrollbar track transparent */
}

/* Message Animations */
.rcw-message {
  opacity: 0;
  transform: translateY(20px);
  animation: slideUpFadeIn 0.5s forwards;
}

.rcw-user-message {
  animation: slideInFromRight 0.5s forwards;
}

.rcw-response-message {
  animation: slideInFromLeft 0.5s forwards;
}

/* Response and Message Text */
.rcw-response,
.rcw-message-text {
  font-size: 19px;
  color: var(--black);
  font-family: var(--font-primary);
}

/* Input Styles */
.rcw-input {
  font-size: 19px;
  font-family: var(--font-primary);
}

.rcw-sender {
  color: var(--black);
  font-family: var(--font-primary);
}

/* Animations */
@keyframes slideUpFadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Responsive Styles */
@media only screen and (max-width: 640px) {
  .rcw-header {
    font-size: 19px !important;
    padding: 30px !important;
  }
}

@media only screen and (min-width: 640px) {
  .rcw-header {
    padding: 15px !important;
  }

  .rcw-widget-container {
    position: relative;
    max-width: 800px;
    min-width: 600px;
  }

  .rcw-conversation-container.active {
    width: 100px;
    height: 100px;
  }

  .rcw-messages-container {
    min-height: 600px;
  }
}

/* Page Layout Content */
.page-layout__content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  margin-top: 8rem;
  max-width: 120rem;
  width: 100%;
}
