/* ./src/ParkSharing.Reservation.Client/src/index.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body, html {
  height: 100%;
  margin: 0;
  background-color: black;
}

#root {
  height: 100%;
  width: 100%;
}

.App {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-chat-container {
  width: 100%;
  height: 100%;
  font-family: Roboto, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
