@import "theme.css";
@import "general.css";
@import "components/index.css";
@import "animations.css";

/* styles.css */

.protected-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: #fff;
  }
  
  h1, h2 {
    color: #fff;
  }
  
  .section {
    margin-bottom: 30px;
  }
  
  .input-field {
    display: block;
    width: calc(100% - 20px);
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .availability-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button-logout {
    background-color: #dc3545;
  }
  
  @media (max-width: 600px) {
    .availability-item {
      flex-direction: column;
    }
  
    .input-field {
      width: 100%;
    }
  }
  
  /* styles.css */

.input-field,
.button {
  width: 100%;
  max-width: 400px; /* Optional: set a max-width for larger screens */
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .input-field,
  .button {
    width: 100%;
    max-width: none; /* Ensure full width on small screens */
  }

  .protected-page .section {
    width: 100%;
  }

  .availability-item {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Add space between elements */
  }
}
/* styles.css */

.input-field,
.button,
.react-datepicker-wrapper,
.react-datepicker__input-container input {
  width: 100%;
  max-width: 400px; /* Optional: set a max-width for larger screens */
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .input-field,
  .button,
  .react-datepicker-wrapper,
  .react-datepicker__input-container input {
    width: 100%;
    max-width: none; /* Ensure full width on small screens */
  }

  .protected-page .section {
    width: 100%;
  }

  .availability-item {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Add space between elements */
  }
}








