/* Add this at the top of your CSS file */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f2f5; /* Lighter background for a modern look */
}

.App {
  width: 100%;
  max-width: 600px; /* Constrain the chat to a reasonable maximum width on desktop */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
  border-radius: 8px; /* Rounded corners */
  overflow: hidden; /* Ensures no content leaks outside the border */
}

/* Modern styling for the chat interface itself */
/* Apply to the entire chat container */
.chat-container {
  font-family: 'Roboto', sans-serif; /* This sets the custom font */
}

/* You can also target specific elements like messages or buttons */
.react-chatbot-kit-chat-message-container {
  font-family: 'Roboto', sans-serif;
}


/* Responsive adjustments */
@media (max-width: 600px) {
  .App {
    margin: 10px; /* Small margin on small devices for better edge spacing */
    height: calc(100% - 20px); /* Adjust height when adding margin */
  }
}
