.protected-page .section {
  margin-bottom: 20px;
}

.protected-page .availability-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.protected-page .MuiTextField-root {
  width: 100%;
  max-width: 500px;
}

.protected-page .button-remove {
  align-self: flex-start;
}

.protected-page .button {
  display: block;
  width: 100%;
  max-width: 500px;
  padding: 10px;
  font-size: 16px;
  margin-top: 20px;
}
